# Intellij project files
.idea/workspace.xml
.idea/vcs.xml
.idea/tasks.xmlplatforms
.idea/copyright
.idea/scopes/scope_settings.xml
.idea/inspectionProfiles
.idea/misc.xml
.idea/workspace.xml
.idea/dictionaries
.idea/uiDesigner.xml
.idea/shelf

# folders
node_modules
target
dist
data
coverage
minJs
music

# log files
debug*.log
production*.log
etc/dev-custom.conf